In [4]:
import pandas as pd
import numpy as np
order_item_df = pd.read_csv(r'D:\Datamamagemet\python\source\bikestore_dim\staging_2\order_item\order_item.csv')
order_df = pd.read_csv(r'D:\Datamamagemet\python\source\bikestore_dim\staging_2\order\order.csv')
product_df = pd.read_csv(r'D:\Datamamagemet\python\source\bikestore_dim\staging_2\products\products.csv')

In [12]:
order_item_product = pd.merge(order_item_df, product_df, on='product_id')
orders_products_details=pd.merge(order_df,order_item_product,on='order_id')
orders_products_details.head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id,extract_time,source,...,source_x,USD_to_EGP,list_price_egp,product_name,brand_id,category_id,model_year,list_price_y,extract_time_y,source_y
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1.714410e+09,DB,...,DB,47.9,28739.521,Electra Townie Original 7D EQ - Women's - 2016,1,3,2016,599.99,1.714325e+09,datalake
1,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1.714410e+09,DB,...,DB,47.9,86219.521,Trek Remedy 29 Carbon Frameset - 2016,9,6,2016,1799.99,1.714325e+09,datalake
2,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1.714410e+09,DB,...,DB,47.9,74197.100,Surly Straggler - 2016,8,4,2016,1549.00,1.714325e+09,datalake
3,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1.714410e+09,DB,...,DB,47.9,28739.521,Electra Townie Original 7D EQ - 2016,1,3,2016,599.99,1.714325e+09,datalake
4,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2,1.714410e+09,DB,...,DB,47.9,138909.521,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,1.714325e+09,datalake

In [13]:
import os
output_dir = r'D:\Datamamagemet\python\source\bikestore_dim\Information Mart'

os.makedirs(output_dir, exist_ok=True)

orders_products_details.to_csv(os.path.join(output_dir, 'orders_products_details.csv'), index=False)